@import "tailwindcss";

* {
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
/* 
* {
  border: 1px solid red;
} */

@font-face {
  font-family: "PPWatch";
  src: url("./assets/fonts/PPWatch-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PPWatch";
  src: url("./assets/fonts/PPWatch-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PPWatch";
  src: url("./assets/fonts/PPWatch-Extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PPWatch";
  src: url("./assets/fonts/PPWatch-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}


@theme {
  --font-ppwatch: "PPWatch", sans-serif;
}